.toolbar {
    /* Barra de herramientas */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #3b7977 0%, #72b1bb 100%);
    color: white;
    font-weight: 600;

    img {
        margin: 0 16px; /* Margen de la imagen */
    }

    #twitter-logo {
        height: 40px;
        margin: 0 8px; /* Margen del logo de Twitter */
    }

    #youtube-logo {
        height: 40px;
        margin: 0 16px; /* Margen del logo de YouTube */
    }

    #twitter-logo:hover,
    #youtube-logo:hover {
        opacity: 0.8; /* Opacidad al pasar el mouse sobre los logos */
    }
}

.spacer {
    flex: 1; /* Espacio flexible para distribuir el espacio restante */
}
