.contenedor{
    width: 100%;
    display: flex;

}
.contenedorPrincipal{
    margin-top:10%;
    padding: 10%;
    width: 100%;
}

.contenedorFooter{
    flex-shrink: 0;
    width: 100%;
}

.headerDani{
    margin-bottom: 10%;
}